html {
    font-size: 22px;
}

.top {
    width: 17rem;
    height: 17rem;
    color: red;
    background-color: green;
}

.top .con {
    width: 10rem;
    height: 10rem;
    background-color: yellow;
}
